<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script>
var map;
function initialize() {
  var mapOptions = {
    zoom: 8,
    center: new google.maps.LatLng({{ points.0.geo }})
  };
  map = new google.maps.Map(document.getElementById('map-canvas'),
      mapOptions);
  {% for point in points %}
	  new google.maps.Marker({
		  position: new google.maps.LatLng({{ point.geo }}),
		  map: map,
		  title: 'Lolka'
	  });
  {% endfor %}
}

google.maps.event.addDomListener(window, 'load', initialize);

    </script>
  </head>
  <body>
    <div id="map-canvas"></div>
  </body>
</html>

